

/* imagye de fond*/

body{

  background-image: url('/image/BeehiveCluster.jpg');
  background-size: 2000px 3500px;
  background-repeat: no-repeat;
  overflow: hidden;
}
/*effet 3d reglage*/




 /*mise en page texte*/

.starwars{


  font-family: 'Pathway Gothic One', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;

  /*police ocnfiguration*/
  font-weight: bold;
  margin: 150px;
  font-size: 50px;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  color: yellow;
 



}
.stars { 

top: -100px;
transform-origin: 50% 100%;
position: relative;

  /*faire defiler le texte en scroll position de depart*/
  transform:  translateY(100%);
  -moz-transform:  translateY(100%);
  -webkit-transform:  translate(100%);

  animation: star 20s linear infinite;
  -moz-animation: star 20s linear infinite;
  -webkit-animation: star 20s linear infinite;

  

}

/*position de depart de l'animation sens du defilement du texte tout navigateur*/

@keyframes star {

  0%  {
  
    transform: translateZ(100%)   ;
    -moz-transform: translate(100%);
    -webkit-transform: translateZ(100%);

 }
    

  100%{
    
    transform: translateZ(-100%);
    -moz-transform: translateZ(-100%);
    -webkit-transform: translateZ(-100%);


 }
  }







